# IDE files
.idea/
**/.idea/
.vscode/

# Local environments
env/
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Notebook checkpoints
**/.ipynb_checkpoints/

# Node dependencies
node_modules/
**/node_modules/

# Logs
*.log

# Local large datasets
课程/数据库理论与技术/Mysql实验/MySQL课程上机实验/MySQL样例数据库/employees_db/employees_db/load_salaries.dump
